<form method="post" action="{{ path('qr_code_delete', {'id': qr_code.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ qr_code.id) }}">
    <button class="btn">Delete</button>
</form>
