{% extends 'base.html.twig' %}

{% block title %}Editer Specialiste{% endblock %}

{% block body %}
    <h1>Modifier un spécialiste</h1>

    {{ include('specialiste/_form.html.twig', {'button_label': 'Modifier'}) }}

<div class="d-flex my-2">
    <a class="btn btn-secondary me-2" href="{{ path('specialiste_index') }}">Revenir à la liste</a>

    {{ include('specialiste/_delete_form.html.twig') }}
</div>
    
{% endblock %}
