{% extends 'base.html.twig' %}

{% block title %}Nouveau specialiste{% endblock %}

{% block body %}
    <h1>Créer un nouveau spécialiste</h1>

    {{ include('specialiste/_form.html.twig') }}

    <a class="btn btn-secondary my-2" href="{{ path('specialiste_index') }}">Revenir à la liste</a>
{% endblock %}
