{% extends 'base.html.twig' %}

{% block title %}Editer Abonnement{% endblock %}

{% block body %}
    <h1>Editer un abonnement</h1>

    
        {{ include('abonnement/_form.html.twig', {'button_label': 'Modifier'}) }}

    <div class="d-flex py-2">

        {{ include('abonnement/_delete_form.html.twig') }}

        <a class="btn btn-secondary mx-2" href="{{ path('abonnement_index') }}">Revenir à la liste</a>
    </div>
    
{% endblock %}
