{% extends 'base.html.twig' %}

{% block title %}Nouvel Abonnement{% endblock %}

{% block body %}
    <h1>Créer un nouvel abonnement</h1>

    {{ include('abonnement/_form.html.twig') }}

    <a class="btn btn-secondary" href="{{ path('abonnement_index') }}">Revenir à la liste</a>
{% endblock %}
