{% extends 'base.html.twig' %}

{% block title %}Editer CarnetSante{% endblock %}

{% block body %}
    <h1>Editer un carnet de santé</h1>

    {{ include('carnet_sante/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a class="btn btn-secondary" href="{{ path('carnet_sante_index') }}">Revenir à la liste</a>

    {{ include('carnet_sante/_delete_form.html.twig') }}
{% endblock %}
