{% extends 'base.html.twig' %}

{% block title %}Nouveau Carnet de Santé{% endblock %}

{% block body %}
    <h1>Créer un nouveau carnet de santé</h1>

    {{ include('carnet_sante/_form.html.twig') }}

    <a class="btn btn-secondary" href="{{ path('carnet_sante_index') }}">Revenir à la liste</a>
{% endblock %}
