<form method="post" action="{{ path('animal_delete', {'id': animal.id}) }}" onsubmit="return confirm('Êtes-vous sûrs de vouloir supprimée {{animal.prenom |capitalize}}');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ animal.id) }}">
    <button type="button" class="btn btn-outline-primary">Delete</button>
</form>