{% extends 'base.html.twig' %}

{% block title %}Nouvel Animal{% endblock %}

{% block body %}
    <h1>Créer un nouvel animal</h1>

    {{ include('animal/_form.html.twig') }}

    <a class="btn btn-secondary my-2" href="{{ path('animal_index') }}">Revenir à la liste</a>
{% endblock %}
