{% extends 'base.html.twig' %}

{% block title %}Animal
{% endblock %}

{% block body %}
	<h1>Animal</h1>

	<a href="{{ path('animal_index') }}">back to list</a>

	<a href="{{ path('animal_edit', {'id': animal.id}) }}">edit</a>

	{% include "animal/card_animal.html.twig" %}

	{{include('animal/_delete_form.html.twig')}}
{% endblock %}
