{% extends 'base.html.twig' %}

{% block title %}Editer Categories{% endblock %}

{% block body %}
    <h1>Modifier une categorie</h1>

    {{ include('categories/_form.html.twig', {'button_label': 'Modifier'}) }}

<div class="d-flex py-2">
    <a class="btn btn-secondary me-2" href="{{ path('categories_index') }}">Revenir à la liste</a>

    {{ include('categories/_delete_form.html.twig') }}
</div>
   
{% endblock %}
