{% extends 'base.html.twig' %}

{% block title %}Categories index{% endblock %}

{% block body %}
    <h1>Les catégories</h1>
<br>
    <table class="table table-striped table-primary">
        <thead class="table-dark">
            <tr>
                <th class="text-center">Name</th>
                <th class="text-center">Editer</th>
                <th class="text-center">Supprimer</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td class="text-center">{{ category.name }}</td>
                <td class="text-center">
                    <a href="{{ path('categories_edit', {'id': category.id}) }}"><i class="far fa-edit"></i></a>
                </td>
                <td class="text-center">
                    <a href="{{ path('categories_delete', {'id': category.id}) }}"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucune catégorie</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
		<a class="btn btn-primary" href="{{ path('categories_new') }}">Nouvelle catégorie</a>

{% endblock %}
