{% extends 'base.html.twig' %}

{% block title %}Nouvelle Categorie{% endblock %}

{% block body %}
    <h1>Créer une nouvelle catégorie</h1>

    {{ include('categories/_form.html.twig') }}

    <a class="btn btn-secondary my-2" href="{{ path('categories_index') }}">Revenir à la liste</a>
{% endblock %}
