{% extends 'base.html.twig' %}

{% block title %}Edit VaccinsEtOperation{% endblock %}

{% block body %}
    <h1>Edit VaccinsEtOperation</h1>

    {{ include('vaccins_et_operation/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('vaccins_et_operation_index') }}">back to list</a>

    {{ include('vaccins_et_operation/_delete_form.html.twig') }}
{% endblock %}
