{% extends 'base.html.twig' %}

{% block title %}Editer Visite{% endblock %}

{% block body %}
    <h1>Modifier une visite</h1>

    {{ include('visite_medical/_form.html.twig', {'button_label': 'Modifier'}) }}

<div class="d-flex my-2">

    <a class="btn btn-secondary me-2" href="{{ path('visite_medical_index') }}">Revenir à la liste</a>

    {{ include('visite_medical/_delete_form.html.twig') }}

</div>
   
{% endblock %}
