{% extends 'base.html.twig' %}

{% block title %}Nouvelle Visite vétérinaire{% endblock %}

{% block body %}
    <h1>Enregistrer une nouvelle visite vétérinaire</h1>

   {{ include('visite_medical/_form.html.twig') }}

    <a class="btn btn-secondary my-2" href="{{ path('visite_medical_index') }}">Revenir à la liste</a>

 
{% endblock %}
