{% extends 'base.html.twig' %}

{% block title %}New VisiteMedical{% endblock %}

{% block body %}
    <h1>Create new VisiteMedical</h1>

    {{ include('visite_medical/_form.html.twig') }}

    <a href="{{ path('visite_medical_index') }}">back to list</a>
{% endblock %}
