$bleu: #077187;
$jaune: #f9a620;

@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "custom";
@import "~bootstrap/scss/bootstrap";

// body {
//   background-color: white;
// }

// .titre {
//   color: black;
// }

/*======================
    PAGE WELCOME
=======================*/

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}

.body {
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
  background-color: #0772877a !important;
}
.cover-container {
  max-width: 42em;
}

.nav-masthead .nav-link {
  padding: 0.25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.5);
  background-color: transparent;
  border-bottom: 0.25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, 0.25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

.footer {
  background-image: url("/assets/images/CAREPET_Paws1.svg");
  background-repeat: no-repeat;
}

#carouselExampleCaptions {
  background-image: url("/assets/images/CAREPET_Paws1.svg");
  background-repeat: no-repeat;
}

// .container{
//   background-image: url("/assets/images/CAREPET_Paws2.svg");
//   background-repeat: no-repeat;
// }
/*======================
    ANIMAL INDEX
=======================*/

#card-index {
  padding-left: 0px;
  padding-right: 0px;
}

.couleur-card {
  background-color: #ffd07e;
}

/*======================
    ANIMAL SHOW
=======================*/
#corp-card {
  margin-top: 20px;
}

#button-animal {
  display: flex;
  margin: 20px;
}
#button-animal button {
  margin-left: 2px;
  margin-right: 2px;
}

/*======================
    ANIMAL CARD
=======================*/

h1,
h2,
p {
  margin: 0;
}

.titre-card {
  font-family: "Arvo", serif;
  font-weight: lighter;
  font-size: 25px;
}

.cardtitle {
  font-family: "Bitter", serif;
  font-weight: bold;
}

p {
  font-family: "Lato", sans-serif;
  display: inline-block;
  margin: 5px 1px;
  font-size: 15px;
}

#card {
  border: solid 2px #000;
  border-radius: 10px;
  box-shadow: 1px 2px 10px #000;
  background-color: #e9eef2;
  margin: auto 0;
}

#card-title {
  padding: 5px;
  color: #fff;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  background-color: $bleu;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

#card-id {
  padding: 5px;
  display: flex;
}

#card-number {
  display: inherit;
  margin-right: 50px;
}

#card-information {
  display: flex;
  padding: 5px;
  justify-content: space-between;
}

#flex-card-information {
  display: flex;
}

#card-qrcode {
  margin-right: 20px;
}

#card-photo {
  background-position: center;
  background-repeat: none;
  border: solid 2px #000;
  height: 150px;
  width: 150px;
}

#card-detail {
  display: flex;
}

.card-box {
  margin-right: 20px;
}

#cardsign {
  display: flex;
  background-position: center;
  height: 38px;
  width: 350px;
}

#card-code {
  padding: 5px;
  background-color: #fff;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
#card-code p {
  margin: 0;
}

#card-lien a {
  text-decoration: none;
  color: #000;
}

// --------------------------------------------------------------------

/*======================
    ACCESSORIES PAGE
=======================*/

#print-dog {
  width: 40%;
  margin-left: 30%;
  margin-top: 10px;
}

.card-img-accessoire {
  width: 200px;
  height: 200px;
}

// --------------------------------------------------------------------

/*======================
    SIGN IN FORM
=======================*/

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

//---------------------------------------------------------------

/*======================
    404 page
=======================*/

.page_404 {
  padding: 40px 0;
  background: #fff;
  font-family: "Arvo", serif;
}

.page_404 img {
  width: 60%;
}

.four_zero_four_bg {
  height: 400px;
  background-position: center;
}

.four_zero_four_bg h1 {
  font-size: 80px;
}

.four_zero_four_bg h3 {
  font-size: 80px;
}

.link_404 {
  color: #fff !important;
  padding: 10px 20px;
  margin: 20px 0;
  display: inline-block;
}
.contant_box_404 {
  margin-top: -50px;
}
//----------------------------------------------------------------

/*======================
    VIDEO Welcome
=======================*/

video {
  position: fixed;
  z-index: -1;
}

@media (min-aspect-ratio: 16 / 9) {
  #videoBg {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16 / 9) {
  #videoBg {
    width: auto;
    height: 100%;
  }
}

#carnet {
  border: solid 2px #000;
  border-radius: 10px;
  box-shadow: 1px 2px 10px #000;
  background-color: #e9eef2;
  margin: auto 0;
  box-sizing: border-box;
}

#b-carnet {
  padding-top: 20px;
}
#b-carnet a {
  color: white;
  text-decoration: none;
}

/*======================
    COOKIE
=======================*/

#card-welcome {
  display: block;
  position: relative;
  width: 200px;
  margin-top: -600px;
  z-index: 2;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #d2d2dc;
  border-radius: 6px;
  -webkit-box-shadow: 0px 0px 5px 0px rgb(249, 249, 250);
  -moz-box-shadow: 0px 0px 5px 0px rgba(212, 182, 212, 1);
  box-shadow: 0px 0px 5px 0px rgb(161, 163, 164);
}

#card-welcome.hide {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.cookies a {
  text-decoration: none;
  color: #000;
  margin-top: 8px;
}

.cookies a:hover {
  text-decoration: none;
  color: blue;
  margin-top: 8px;
}

/*======================
   FORMULAIRE
=======================*/

.form-btn a{
  color: white;
  text-decoration: none;
}