//fichier pour override les variables de Bootstrap

$primary: #077187;
$secondary: #f9a620;
$info: #333333;
$warning : #3D3D3D;

.textexp {
  color: $secondary;
}

.container {
  padding-top: 80px;
}

#carouselExampleCaptions {
  height: 100%;
  padding: 0px;

  .carousel-inner {
    height: 100%;

    .carousel-item {
      height: 100%;
    }
  }

  .carousel-item img {
    height: 100%;
  }
}
