<!DOCTYPE html>
<html class="no-js" lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>

		{# --- CSS #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
            <!-- Custom styles for Panier -->
            <link href="form-validation.css" rel="stylesheet">
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}

	</head>
	<body>
		<div class="container">
			{% block body %}
				{% for message in app.flashes("success") %}
					<div class="alert alert-success" role="alert">{{ message }}</div>
				{% endfor %}
			{% endblock %}
		</div>
        {% endblock %}
        {% block head %}{% endblock %}
        <style>
            .grid{
                display:grid;
                grid-template-columns: repeat(3, 1fr);
                grid-gap: 20px;
            }
        </style>
        {% block javascriptsAjax %}{% endblock %}
        
    </head>
    <body>
   
        {% include "nav.html.twig" %}

	</body>
</html>
