{% extends 'e_boutique/accessoires.html.twig' %}

{% block title %}Recherche{% endblock %}

{% block h1 %}<h1 class="mt-5 pt-5 text-center fw-normal">Résultat pour la recherche : {{ mot }}</h1>{% endblock %}

{% set message = "Snif, aucun résultat pour cette recherche :( " %}
