{% extends 'specialiste/index.html.twig' %}

{% block title %}Recherche{% endblock %}

{% block h1 %}<h1 class="mt-5 pt-5 text-center fw-normal">Résultat pour le metier : {{ mot }}</h1>{% endblock %}

{% set message = "Snif, aucun résultat pour ce métier :( " %}