{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <h1>Inscription</h1>

    {{ include('user/_form.html.twig') }}

    <a class="btn btn-secondary my-2" href="{{ path('user_index') }}">Revenir à la liste</a>
{% endblock %}
